body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-right: 10px;
}

button {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005a9e;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #0078d4;
}

a:hover {
    text-decoration: underline;
}
